<html>
    <head>
        <!-- angular -->
        <script type="text/javascript" src="js/angular.js"></script>

        <!-- script -->
        <script type="text/javascript" src="js/app.js"></script>

        <!-- css -->
        <link rel="stylesheet" href="css/bootstrap.css" />
        <link rel="stylesheet" href="css/styles.css" />
    </head>

<body ng-app="myApp" ng-controller="BaseController as base">
  <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar header">
         <a href="#" id="UNC"><h3>UNC Men's Basketball</h3></a>
        <form class="navbar-form navbar-right" role="search">
          <div class="form-group">
           <input type="text" class="form-control" placeholder="Search for player" ng-model="terms">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
        </div>
      </div>
    </nav>
<div class="container">
  <div class="row">
    <div class="col-xs-12">

  <table class="table">
    <thead id="head">
      <tr>
        <th><button class="btn btn-default btn-sm" ng-click="base.sort('last')">Last</button></th>
        <th><button class="btn btn-default btn-sm"ng-click="base.sort('first')">First</button></th>
        <th><button class="btn btn-default btn-sm"ng-click="base.sort('position')">Pos.</button></th>
        <th><button class="btn btn-default btn-sm"ng-click="base.sort('height')">Hgt.</button></th>
        <th><button class="btn btn-default btn-sm"ng-click="base.sort('year')">Yr.</button></th>
        <th><button class="btn btn-default btn-sm"ng-click="base.sort('games')">Gms</button></th>
        <th><button class="btn btn-default btn-sm"ng-click="base.sort('minutes')">Min.</button></th>
        <th><button class="btn btn-default btn-sm">FG%</button></th>
        <th><button class="btn btn-default btn-sm"ng-click="base.sort('offensiveRebounds')">Off.<br/>Reb.</button></th>
        <th><button class="btn btn-default btn-sm"ng-click="base.sort('defensiveRebounds')">Def.<br/>Reb.</button></th>
        <th><button class="btn btn-default btn-sm"ng-click="base.sort('assists')">Ast.</button></th>
        <th><button class="btn btn-default btn-sm"ng-click="base.sort('steals')">Stls</button></th>
        <th><button class="btn btn-default btn-sm"ng-click="base.sort('blocks')">Blk</button></th>
        <th><button class="btn btn-default btn-sm"ng-click="base.sort('turnovers')">TO</button></th>
        <th><button class="btn btn-default btn-sm"ng-click="base.sort('fouls')">Fouls</button></th>
        <th><button class="btn btn-default btn-sm"ng-click="base.sort('points')">PPG</button></th>
      </tr>
    </thead>
    <tbody ng-repeat="player in base.players | filter:terms | orderBy:base.sortProperty:base.reverseSort">
      <tr>
        <td>{{player.last}}</td>
        <td>{{player.first}}</td>
        <td>{{player.position}}</td>
        <td>{{player.height}}</td>
        <td>{{player.year}}</td>
        <td>{{player.games}}</td>
        <td>{{player.minutes}}</td>
        <td>{{base.fieldGoalPercentage(player)}}</td>
        <td>{{player.offensiveRebounds}}</td>
        <td>{{player.defensiveRebounds}}</td>
        <td>{{player.assists}}</td>
        <td>{{player.steals}}</td>
        <td>{{player.blocks}}</td>
        <td>{{player.turnovers}}</td>
        <td>{{player.fouls}}</td>
        <td>{{base.pointsPerGame(player)}}</td>
      </tr>
  </table>
              
                </div>
            </div>
        </div>

    </body>
</html>
  